
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root{
    /* colors */
    
    /* primary */
    --clr-deepaquamarine: 157, 36%, 37%;
    --clr-deepaquamarinehover: 157, 43%, 18%;
    --clr-cream: 28, 38%, 92%;

    /* secondary*/
    --clr-verydarkblue: 212, 21%, 14%;
    --clr-darkgrayishblue: 228, 12%, 48%;
    --clr-white: 0, 0%, 100%;
    
    /* font-sizes*/
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-650: 2.28rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* font-families */
    --ff-serif: 'Fraunces', serif;
    --ff-sans: 'Montserrat', sans-serif;
    

    font-size: 14px;
}

/* ------------------- */
/*        Reset        */
/* ------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 300;
    font-family: inherit;
}

/* set up the body */
body {
    font-family: var(--ff-sans);
    font-size: var(--fs-300);
    color: hsl(var(--clr-darkgrayishblue));
    background-color: hsl(var(--clr-cream));
    line-height: 1.5;
    min-height: 100vh;
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font:inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display:-ms-grid;
    display: grid;
    gap: var(--gap, 1rem);
}

/* Typography */

.ff-serif { font-family: var(--ff-serif); } 
.ff-sans { font-family: var(--ff-sans);}

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; }

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

/* ------------------- */
/* Component classes   */
/* ------------------- */

.card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card{
    margin: 1em;
    background-color: white;
    max-width: 343px;
    display: grid;
    row-gap: 0;
    border-radius: 10px;    
}

.card__pic {
    border-radius: 10px 10px 0px 0px;
    border: none;
    max-height: 240px;
    width: 100%;
    object-fit: cover;
}

.card__body {
    background-color: hsl(var(--clr-white));
    padding: 1.7rem;
    text-align:left;
    border-radius: 0px 0px 10px 10px;
    border: none;
    line-height: 23px;
}

.product__category{
    text-transform: uppercase;
    font-size: var(--fs-200);
    letter-spacing: 5px;
}

.product__name{
    font-family:var(--ff-serif);
    font-weight: var(--fs-700);
    font-size: var(--fs-650);
    color:hsl(var(--clr-verydarkblue));
    line-height: 1em;
    margin-top: .7em;
    margin-bottom: .7em; 
}

.card__pricetag {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.current-price {
    font-family:var(--ff-serif);
    font-weight: var(--fs-700);
    font-size: var(--fs-650);
    color:hsl(var(--clr-deepaquamarine));
    margin: .75em .75em 1em 0; 
}

.regular-price {
    text-decoration: line-through;
}

.add-to-cart{
    display: flex;
    flex-grow: 1;
}

.add-to-cart button{
    background-color: hsl(var(--clr-deepaquamarine));
    font-family:var(--ff-sans);
    font-weight: var(--fs-700);
    font-size: var(--fs-300);
    color:hsl(var(--clr-white));
    border:none;
    border-radius: 8px;
    padding: 1em;
    display: flex;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.add-to-cart > img {
    display: inline;
    margin-right: 1em;
}

.add-to-cart button:hover,
.add-to-cart button:focus {
    background-color: hsl(var(--clr-deepaquamarinehover));
}

footer {
    margin-top: 5em;
    text-align: center;
}

@media (min-width:660px){

.card {
    max-width: 600px;
    max-height: 450px;
    grid-template-rows: max-content;
    grid-template-columns: 1fr 1fr;
    row-gap: 0;
}    

.card__body{
    border-radius: 0px 10px 10px 0px;
}

.card__pic {
    border-radius: 10px 0px 0px 10px;
    border: none;
    max-height: none;
    width: 100%;
    height:100%;
    object-fit: cover;
}

}